.contact {
  
margin-left: 90px;
margin-right: 90px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title h1 {
  font-size: 3.5rem;
  font-weight: bold;
  
  text-align: center;
  margin-bottom: 80px;
}

.contact-section {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  box-sizing: border-box;
}


.contact-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-left h1 {
  font-size: 3rem;
  color: #592e83;
 
}

.contact-left p {
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 500px;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 16px;
}

.contact-detail img {
  width: 20px;
  height: 20px;
  padding: 14px;
  
  border-radius: 50%;
  filter: brightness(0) invert(1);
}

.contact-detail p {
  margin: 0;
}

/* Right-side form */
.contact-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-right label {

  font-size: 0.9rem;
  font-weight: 500;
}

.contact-right input,
.contact-right textarea {
  width: 100%;
    background-color:#bfc0c0;
  border: 1px solid #4b5563;
  border-radius: 8px;
  padding: 16px;

  font-size: 1rem;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.contact-right input::placeholder,
.contact-right textarea::placeholder {

}

.contact-right input:focus,
.contact-right textarea:focus {
  border-color: whitesmoke;
}

.contact-right textarea {
  min-height: 140px;
  resize: vertical;
}

.contact-submit {
  border: none;
  border-radius: 25px;
  padding: 16px 32px;

  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #592e83;
  color: whitesmoke;
  margin-bottom: 50px;
}

.contact-submit:hover {
    transform: scale(1.1);
    transition: 0.3s;
}


/*  */
@media screen and (max-width: 768px) {
  .contact {
    margin: 20px;
  }

  .contact-title h1 {
    font-size: 2.5rem;
    text-align: center;
    white-space: nowrap;
    margin-bottom: 40px;
  }

  .contact-section {
    grid-template-columns: 1fr; 
    gap: 40px;
    padding: 0 10px;
  }

  .contact-left h1 {
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }

  .contact-left p {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    max-width: 90%;
  }

  .contact-details {
    align-items: center;
  }

  .contact-detail {
    justify-content: center;
  }

  .contact-right {
    width: 100%;
  }

  .contact-submit {
    width: 100%;
  }
}
