.navbar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}


.nav-logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  margin-left: 40px;
}


.nav-menu-list {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.navbar ul li {
  list-style-type: none;
  display: inline-block;
  padding: 20px;
  /* font-size: 23px; */
}

.anchor-link {
  text-decoration: none;
  color: whitesmoke;
}


.nav-connect {
  background-color: #592e83;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 170px;
  height: 40px;
  cursor: pointer;
  transition: 0.5s;
  
  margin-right: 30px;
}

.nav-connect:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-logo {
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 0;
display: none;  }

  .nav-menu-list {
    margin-bottom: 10px;
  }

  .navbar ul li {
    display: block;
    padding: 10px;
  }

  .nav-connect {
    width: 150px;
    margin-top: 10px;
    margin-left: 40px;
  }
}

